/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  background-color: rgb(248, 245, 242);

  overflow: auto;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
header {
  display: flex;
  background-color: rgb(248, 245, 242, 0.7);
  height: 5rem;
  align-items: center;
  width: 100%;
  border-bottom: 1px rgba(62, 39, 35, 0.5) solid;
}
header img {
  height: 64px;
  aspect-ratio: 1/1;
  justify-content: center;
  margin-right: 1rem;
}

.logo-con {
  display: flex;
}
.logo-con p {
  margin-right: 25px;
  align-content: center;
  display: inline-block;
  font-size: 1.2em;
  font-weight: bold;
  unicode-bidi: isolate;
  color: rgb(62, 39, 35);
  font-family: Cairo, sans-serif;
}
.logo-con p:hover {
  border: 1px rgb(62, 39, 35) solid;
  border-radius: 50%;
}
nav {
  display: flex;
  margin-right: 510px;
  margin-left: 10px;
  gap: 40px;
}
nav a {
  display: flex;
  text-decoration: none;
  color: rgb(62, 39, 35);
  font-size: 1.2em;
  font-family: Cairo, sans-serif;
}
nav a:hover {
  border-bottom: 1px rgb(62, 39, 35) solid;
}
nav a {
  transition: color 0.3s ease;
}

nav:hover a {
  color: gray;
}

nav a:hover {
  color: brown;
}
.feed {
  text-align: center;
  display: grid;
  justify-content: center;
  margin: auto;
  max-width: 600px;
  margin-top: 50px;
  margin-bottom: 100px;
}
.feed h3 {
  color: #4b2e05;
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  font-family: Cairo, sans-serif;
}
.feed p {
  font-size: 1.05rem;
  line-height: 1.8;
  margin-bottom: 1.5rem;
  font-family: Cairo, sans-serif;
}
.feed form {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  padding-top: 0;
}
.feed input {
  border-radius: 12px;
  height: 60px;
  width: 580px;
  border: 1px black solid;
}
.feed input {
  padding-right: 5px;
  color: rgb(62, 39, 35);
  font-family: Cairo, sans-serif;
}
.feed textarea {
  border-radius: 12px;
  height: 150px;
  width: 580px;
  border: 1px black solid;
  padding-right: 10px;
  color: rgb(62, 39, 35);
  font-family: Cairo, sans-serif;
  padding-top: 10px;
  resize: none;
}
.feed button {
  background: linear-gradient(135deg, #4b2e05, #2b1b0e, #4b2e05);
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px 15px #4f6f524d;
  color: #fff;
  cursor: pointer;
  font-family: Cairo, sans-serif;
  font-size: 1.05rem;
  font-weight: 600;
  margin-top: 1rem;
  padding: 0.4rem 1.5rem;
  transition: all 0.5s ease;
  height: 50px;
}
.feed:hover {
  transform: translateY(-3px);
  transition: 1s ease-in-out;
}
.hero-8 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* border-bottom: 1px white solid; */
}
.hero-8 div {
  background-color: rgb(79, 111, 82);
}
.text {
  padding-right: 200px;
  padding-top: 50px;
}
.text p,
h3 {
  color: white;
  font-size: 2rem;
  font-family: Cairo, sans-serif;
}
.text h3:hover {
  color: rgb(215 183 138);
}
.text p {
  margin-top: 30px;
  color: white;
  font-size: 1rem;
  font-family: Cairo, sans-serif;
}
.arrow {
  font-size: 40px;
  animation: float 1s ease-in-out infinite;
  transition: 1s infinite;
  display: inline-block;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10);
  }
}
form {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding-right: 30px;
  padding-top: 50px;
  gap: 20px;
}
form input {
  width: 600px;
  height: 50px;
  border: transparent;
  border-radius: 5px;
}
form p {
  color: white;
  font-size: 2rem;
  font-family: Cairo, sans-serif;
}
form input::placeholder {
  padding-right: 15px;
}
form button {
  width: 600px;
  height: 50px;
  border: transparent;
  border-radius: 10px;
  background-color: rgb(215 183 138);
  font-family: Cairo, sans-serif;
}
form button:hover {
  color: white;
  background-color: rgb(218, 129, 14);
  transition: 1s ease-in-out;
}
footer span {
  color: rgb(215 183 138);
}
footer span:hover {
  color: aqua;
}
footer p:first-child {
  margin: auto;
  padding-top: 80px;
}
footer p:nth-child(2) {
  margin: auto;
  padding-top: 20px;
}

footer p {
  background-color: rgb(79, 111, 82);
  text-align: center;
  font-family: Cairo, sans-serif;

  color: white;
}
footer img {
  width: 40px;
  aspect-ratio: 1/1;
}
footer img:hover {
  width: 50px;
}
footer div {
  padding-top: 40px;
  padding-bottom: 20px;
  display: flex;
  background-color: rgb(79, 111, 82);
  justify-content: center;
  gap: 30px;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 150px;
}
