/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
header {
  display: flex;
  background-color: rgb(248, 245, 242, 0.7);
  height: 5rem;
  align-items: center;
  position: fixed;
  width: 1600px;
}
header img {
  height: 64px;
  aspect-ratio: 1/1;
  justify-content: center;
  margin-right: 1rem;
}
.hero {
  background-image: url(—Pngtree—coffee\ fresh\ brown\ poster\ banner_1069397.jpg);
  height: 100vh; /* يخلي الجسم بطول الشاشة */
  background-repeat: no-repeat; /* ما تتكررش */
}
.logo-con {
  display: flex;
}
.logo-con p {
  margin-right: 25px;
  align-content: center;
  display: inline-block;
  font-size: 1.2em;
  font-weight: bold;
  unicode-bidi: isolate;
  color: rgb(62, 39, 35);
  font-family: Cairo, sans-serif;
}
.logo-con p:hover {
  border: 1px rgb(62, 39, 35) solid;
  border-radius: 50%;
}
nav {
  display: flex;
  margin-right: 520px;
  margin-left: 10px;
  gap: 40px;
}
nav a {
  display: flex;
  text-decoration: none;
  color: rgb(62, 39, 35);
  font-size: 1.2em;
  font-family: Cairo, sans-serif;
}
nav a:hover {
  border-bottom: 1px rgb(62, 39, 35) solid;
}
nav a {
  transition: color 0.3s ease;
}

nav:hover a {
  color: gray;
}

nav a:hover {
  color: brown;
}
.hero h2 {
  display: flex;
  font-size: 2.8rem;
  padding-top: 170px;
  padding-right: 100px;
  font-family: Cairo, sans-serif;

  color: white;
}
.hero p {
  display: flex;
  font-size: 1.5rem;
  padding-top: 50px;
  padding-right: 90px;
  font-family: Cairo, sans-serif;

  color: white;
  line-height: 50px;
}
.hero span {
  color: rgb(215 183 138);
  font-weight: 700;
  padding-right: 10px;
  padding-left: 10px;
  height: 50px;
}
.hero button {
  background: linear-gradient(135deg, #4f6f52, #d7b78a);
  border: none;
  border-radius: 30px;
  box-shadow: 0 4px 15px #4f6f524d;
  color: #fff;
  cursor: pointer;
  font-family: Cairo, sans-serif;

  font-size: 1.05rem;
  font-weight: 700;
  padding: 0.4rem 1.5rem;
  transition: all 0.5s ease;
  margin-right: 380px;
  margin-top: 50px;
}
/* section2 */

.hero-2 {
  margin-top: 60px;
}
.hero-2 img {
  width: 1550px;
}
.hero-2 div {
  background-color: rgb(43, 27, 14);
  max-width: 1400px;
  margin: auto;
  height: 250px;
}
.hero-2 div h4 {
  font-size: 1.6rem;
  padding-top: 30px;
  text-align: center;
  color: white;
  font-family: Cairo, sans-serif;
}

.hero-2 div p {
  font-size: 1rem;
  padding-top: 30px;
  text-align: center;
  color: white;
  font-family: Cairo, sans-serif;
}
.hero-2 button {
  display: flex;
  background-color: initial;
  border: 2px solid #f9f6f1;
  border-radius: 35px;
  color: #f9f6f1;
  color: #f9f6f1;
  cursor: pointer;
  font-family: Cairo, sans-serif;
  font-size: 1rem;

  padding: 0.3rem 1.2rem;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 90px;
}
/* section3 */

.hero-3 div {
  background-color: rgb(79, 111, 82);
  max-width: 700px;
  margin: auto;
  height: 250px;
}
.hero-3 {
  margin-top: 60px;
}
.hero-3 img {
  width: 1550px;
}

.hero-3 div h4 {
  font-size: 1.6rem;
  padding-top: 30px;
  text-align: center;
  color: white;
  font-family: Cairo, sans-serif;
}

.hero-3 div p {
  font-size: 1rem;
  padding-top: 30px;
  text-align: center;
  color: white;
  font-family: Cairo, sans-serif;
}
.hero-3 button {
  display: flex;
  background-color: initial;
  border: 2px solid #f9f6f1;
  border-radius: 35px;
  color: #f9f6f1;
  color: #f9f6f1;
  cursor: pointer;
  font-family: Cairo, sans-serif;
  font-size: 1rem;

  padding: 0.3rem 1.2rem;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 40px;
}
/* section4 */
.hero-4 div {
  background-color: rgb(43, 27, 14);
  max-width: 700px;
  margin: auto;
  height: 250px;
}
.hero-4 {
  margin-top: 60px;
}
.hero-4 img {
  width: 1550px;
}

.hero-4 div h4 {
  font-size: 1.6rem;
  padding-top: 30px;
  text-align: center;
  color: white;
  font-family: Cairo, sans-serif;
}

.hero-4 div p {
  font-size: 1rem;
  padding-top: 30px;
  text-align: center;
  color: white;
  font-family: Cairo, sans-serif;
}
.hero-4 button {
  display: flex;
  background-color: initial;
  border: 2px solid #f9f6f1;
  border-radius: 35px;
  color: #f9f6f1;
  color: #f9f6f1;
  cursor: pointer;
  font-family: Cairo, sans-serif;
  font-size: 1rem;

  padding: 0.3rem 1.2rem;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 40px;
}
/* section5 */
.hero-5 div {
  background-color: rgb(43, 27, 14);
  max-width: 700px;
  margin: auto;
  height: 250px;
}
.hero-5 {
  margin-top: 60px;
}
.hero-5 img {
  width: 1550px;
}

.hero-5 div h4 {
  font-size: 1.6rem;
  padding-top: 30px;
  text-align: center;
  color: white;
  font-family: Cairo, sans-serif;
}

.hero-5 div p {
  font-size: 1rem;
  padding-top: 30px;
  text-align: center;
  color: white;
  font-family: Cairo, sans-serif;
}
.hero-5 button {
  display: flex;
  background-color: initial;
  border: 2px solid #f9f6f1;
  border-radius: 35px;
  color: #f9f6f1;
  color: #f9f6f1;
  cursor: pointer;
  font-family: Cairo, sans-serif;
  font-size: 1rem;

  padding: 0.3rem 1.2rem;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 40px;
}
/* section6 */
.hero-6 div {
  background-color: rgb(43, 27, 14);
  max-width: 700px;
  margin: auto;
  height: 250px;
}
.hero-6 {
  margin-top: 60px;
}
.hero-6 img {
  width: 1550px;
}

.hero-6 div h4 {
  font-size: 1.6rem;
  padding-top: 30px;
  text-align: center;
  color: white;
  font-family: Cairo, sans-serif;
}

.hero-6 div p {
  font-size: 1rem;
  padding-top: 30px;
  text-align: center;
  color: white;
  font-family: Cairo, sans-serif;
}
.hero-6 button {
  display: flex;
  background-color: initial;
  border: 2px solid #f9f6f1;
  border-radius: 35px;
  color: #f9f6f1;
  color: #f9f6f1;
  cursor: pointer;
  font-family: Cairo, sans-serif;
  font-size: 1rem;

  padding: 0.3rem 1.2rem;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 40px;
}
.slider {
  position: relative;
  width: 1480px;
  height: 550px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  margin: auto;
  margin-top: 70px;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateX(-100%);
  animation: slideShow 6s infinite;
}

.slide:nth-child(1) {
  animation-delay: 0s;
}
.slide:nth-child(2) {
  animation-delay: 2s;
}
.slide:nth-child(3) {
  animation-delay: 4s;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

@keyframes slideShow {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  10% {
    opacity: 1;
    transform: translateX(0);
  }
  30% {
    opacity: 1;
    transform: translateX(0);
  }
  40% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}
.hero-7 {
  margin-top: 60px;
}

.hero-7 div h4 {
  font-size: 1.6rem;
  padding-top: 30px;
  text-align: center;
  color: rgb(43, 27, 14);
  font-family: Cairo, sans-serif;
}

.hero-7 div p {
  font-size: 1.3rem;
  padding-top: 30px;
  text-align: center;
  color: rgb(43, 27, 14);
  font-family: Cairo, sans-serif;
}
.hero-7 div iframe {
  border-radius: 20px;
  display: flex;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 1000px;
  height: 400px;
}
.hero-8 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* border-bottom: 1px white solid; */
}
.hero-8 div {
  background-color: rgb(79, 111, 82);
}
.text {
  padding-right: 200px;
  padding-top: 50px;
}
.text p,
h3 {
  color: white;
  font-size: 2rem;
  font-family: Cairo, sans-serif;
}
.text h3:hover {
  color: rgb(215 183 138);
}
.text p {
  margin-top: 30px;
  color: white;
  font-size: 1rem;
  font-family: Cairo, sans-serif;
}
.arrow {
  font-size: 40px;
  animation: float 1s ease-in-out infinite;
  transition: 1s infinite;
  display: inline-block;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10);
  }
}
form {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding-right: 30px;
  padding-top: 50px;
  gap: 20px;
}
form input {
  width: 600px;
  height: 50px;
  border: transparent;
  border-radius: 5px;
}
form p {
  color: white;
  font-size: 2rem;
  font-family: Cairo, sans-serif;
}
form input::placeholder {
  padding-right: 15px;
}
form button {
  width: 600px;
  height: 50px;
  border: transparent;
  border-radius: 10px;
  background-color: rgb(215 183 138);
  font-family: Cairo, sans-serif;
}
form button:hover {
  color: white;
  background-color: rgb(218, 129, 14);
  transition: 1s ease-in-out;
}
footer span {
  color: rgb(215 183 138);
}
footer span:hover {
  color: aqua;
}
footer p:first-child {
  margin: auto;
  padding-top: 80px;
}
footer p:nth-child(2) {
  margin: auto;
  padding-top: 20px;
}

footer p {
  background-color: rgb(79, 111, 82);
  text-align: center;
  font-family: Cairo, sans-serif;

  color: white;
}
footer img {
  width: 40px;
  aspect-ratio: 1/1;
}
footer img:hover {
  width: 50px;
}
footer div {
  padding-top: 40px;
  padding-bottom: 20px;
  display: flex;
  background-color: rgb(79, 111, 82);
  justify-content: center;
  gap: 30px;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 150px;
}
@media (max-width: 425px) {
  header {
    display: none;
  }
  nav {
    display: none;
  }
  .hero h2 {
    display: flex;
    font-size: 1.5rem;
    font-family: Cairo, sans-serif;
    color: white;
    padding-right: 20px;
    padding-top: 100px;
  }
  .hero p {
    display: flex;
    font-size: 0.8rem;
    padding-top: 20px;
    padding-right: 5px;
    font-family: Cairo, sans-serif;
    color: white;
    line-height: 30px;
    text-align: center;
  }
  .hero span {
    color: rgb(215 183 138);
    font-weight: 700;
  }
  .hero button {
    background: linear-gradient(135deg, #4f6f52, #d7b78a);
    border: none;
    border-radius: 30px;
    box-shadow: 0 4px 15px #4f6f524d;
    color: #fff;
    cursor: pointer;
    font-family: Cairo, sans-serif;

    font-size: 1.05rem;
    font-weight: 700;
    padding: 0.4rem 1.5rem;
    transition: all 0.5s ease;
    margin-right: 128px;
    margin-top: 50px;
  }
  .hero {
    background-image: url(—Pngtree—coffee\ fresh\ brown\ poster\ banner_1069397.jpg);
    height: 50vh; /* يخلي الجسم بطول الشاشة */
    background-repeat: no-repeat; /* ما تتكررش */
  }
  .hero-2 {
    margin-top: 30px;
  }

  .hero-2 {
    height: 40vh; /* يخلي الجسم بطول الشاشة */
  }
  .hero-2 div {
    height: 350px;
  }
  .hero-3 {
    height: 40vh; /* يخلي الجسم بطول الشاشة */
  }
  .hero-3 div {
    height: 350px;
  }
  .hero-4 {
    height: 40vh; /* يخلي الجسم بطول الشاشة */
  }
  .hero-4 div {
    height: 350px;
  }
  .hero-5 {
    height: 40vh; /* يخلي الجسم بطول الشاشة */
  }
  .hero-5 div {
    height: 350px;
  }
  .hero-7 div iframe {
    border-radius: 20px;
    display: flex;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 300px;
    height: 200px;
  }
  .hero-8 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  form {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 50px;
    gap: 20px;
  }
  form button {
    width: 250px;
    height: 50px;
    border: transparent;
    border-radius: 10px;
    background-color: rgb(215 183 138);
    font-family: Cairo, sans-serif;
    margin: auto;
  }
  form input {
    width: 300px;
    height: 50px;
    border: transparent;
    border-radius: 10px;
    font-family: Cairo, sans-serif;
    margin: auto;
  }
  .text {
    padding-right: 10px;
    padding-top: 50px;
  }
  .text h3 {
    text-align: center;
    color: white;
    font-size: 2rem;
    font-family: Cairo, sans-serif;
    margin: auto;
  }
  .text p {
    text-align: center;
    font-size: 0.1rem;
  }
  .text h3:hover {
    color: rgb(215 183 138);
  }
  .text p {
    margin-top: 30px;
    color: white;
    font-size: 1rem;
    font-family: Cairo, sans-serif;
  }
  form p {
    margin: auto;
    color: white;
    font-size: 2rem;
    font-family: Cairo, sans-serif;
  }
  .hero-2 button {
    display: flex;
    background-color: initial;
    border: 2px solid #f9f6f1;
    border-radius: 35px;
    color: #f9f6f1;
    color: #f9f6f1;
    cursor: pointer;
    font-family: Cairo, sans-serif;
    font-size: 1rem;

    padding: 0.3rem 1.2rem;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 10px;
  }
}

@media (max-width: 430px) and (min-width: 425px) {
  header {
    display: none;
  }
  nav {
    display: none;
  }
  .hero h2 {
    display: flex;
    font-size: 1.5rem;
    font-family: Cairo, sans-serif;
    color: white;
    padding-right: 20px;
    padding-top: 100px;
  }
  .hero p {
    display: flex;
    font-size: 0.8rem;
    padding-top: 20px;
    padding-right: 5px;
    font-family: Cairo, sans-serif;
    color: white;
    line-height: 30px;
    text-align: center;
  }
  .hero span {
    color: rgb(215 183 138);
    font-weight: 700;
  }
  .hero button {
    background: linear-gradient(135deg, #4f6f52, #d7b78a);
    border: none;
    border-radius: 30px;
    box-shadow: 0 4px 15px #4f6f524d;
    color: #fff;
    cursor: pointer;
    font-family: Cairo, sans-serif;

    font-size: 1.05rem;
    font-weight: 700;
    padding: 0.4rem 1.5rem;
    transition: all 0.5s ease;
    margin-right: 128px;
    margin-top: 50px;
  }
  .hero {
    background-image: url(—Pngtree—coffee\ fresh\ brown\ poster\ banner_1069397.jpg);
    height: 50vh; /* يخلي الجسم بطول الشاشة */
    background-repeat: no-repeat; /* ما تتكررش */
  }
  .hero-2 {
    margin-top: 30px;
  }

  .hero-2 {
    height: 45vh; /* يخلي الجسم بطول الشاشة */
  }
  .hero-2 div {
    height: 330px;
  }
  .hero-3 {
    height: 45vh; /* يخلي الجسم بطول الشاشة */
    margin-top: 100px;
  }
  .hero-3 div {
    height: 350px;
  }
  .hero-4 {
    height: 45vh; /* يخلي الجسم بطول الشاشة */
  }
  .hero-4 div {
    height: 300px;
  }
  .hero-5 {
    height: 45vh; /* يخلي الجسم بطول الشاشة */
  }
  .hero-5 div {
    height: 350px;
  }
  .hero-7 div iframe {
    border-radius: 20px;
    display: flex;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 370px;
    height: 250px;
  }
  .hero-8 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  form {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 50px;
    gap: 20px;
  }
  form button {
    width: 370px;
    height: 50px;
    border: transparent;
    border-radius: 10px;
    background-color: rgb(215 183 138);
    font-family: Cairo, sans-serif;
    margin: auto;
  }
  form input {
    width: 370px;
    height: 50px;
    border: transparent;
    border-radius: 10px;
    font-family: Cairo, sans-serif;
    margin: auto;
  }
  .text {
    padding-right: 10px;
    padding-top: 50px;
  }
  .text h3 {
    text-align: center;
    color: white;
    font-size: 2rem;
    font-family: Cairo, sans-serif;
    margin: auto;
  }
  .text p {
    text-align: center;
    font-size: 0.1rem;
  }
  .text h3:hover {
    color: rgb(215 183 138);
  }
  .text p {
    margin-top: 30px;
    color: white;
    font-size: 1rem;
    font-family: Cairo, sans-serif;
  }
  form p {
    margin: auto;
    color: white;
    font-size: 2rem;
    font-family: Cairo, sans-serif;
  }
  .hero-2 button {
    display: flex;
    background-color: initial;
    border: 2px solid #f9f6f1;
    border-radius: 35px;
    color: #f9f6f1;
    color: #f9f6f1;
    cursor: pointer;
    font-family: Cairo, sans-serif;
    font-size: 1rem;

    padding: 0.3rem 1.2rem;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 10px;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  nav {
    margin-right: 25px;
  }

  .hero-7 div iframe {
    border-radius: 20px;
    display: flex;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 600px;
    height: 300px;
  }

  .text h3 {
    color: white;
    font-size: 1rem;
    font-family: Cairo, sans-serif;
  }

  form {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-right: 30px;
    padding-top: 50px;
    gap: 20px;
  }
  form input {
    width: 400px;
    height: 50px;
    border: transparent;
    border-radius: 5px;
  }
  form {
    padding-left: 40px;
  }
  form button {
    width: 400px;
    height: 50px;
  }
  form p {
    text-align: center;
  }
  .text {
    padding-right: 50px;
    padding-top: 130px;
    text-align: center;
  }
  .hero {
    background-image: url(—Pngtree—coffee\ fresh\ brown\ poster\ banner_1069397.jpg);
    height: 60vh; /* يخلي الجسم بطول الشاشة */
    background-repeat: no-repeat; /* ما تتكررش */
    text-align: center;
  }
  .hero p {
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
  }
  .hero button {
    margin-right: auto;
  }
  .hero-8 {
    border: none;
  }
  .hero-4 div {
    background-color: rgb(43, 27, 14);
    max-width: 600px;
    margin: auto;
    height: 250px;
  }
  .hero-3 div {
    background-color: rgb(43, 27, 14);
    max-width: 600px;
    margin: auto;
    height: 250px;
  }
  .hero-2 div {
    background-color: rgb(43, 27, 14);
    max-width: 700px;
    margin: auto;
    height: 250px;
  }
  .hero-5 div {
    background-color: rgb(43, 27, 14);
    max-width: 600px;
    margin: auto;
    height: 250px;
  }
  .hero-6 div {
    background-color: rgb(43, 27, 14);
    max-width: 600px;
    margin: auto;
    height: 250px;
  }
}
